<%- include('partials/header'); -%>

<div class="offres content">
  <% if (offers.length > 0) { %>
    <h1 class="user-name" id="<%= user._id %>"><%= user.firstname %> <%= user.lastname %></h1>
    <button><a href="/create_offer">Create a new offer</a></button>
    <div class="container container3">
      <div class="FilteredBy">
          <label for="filter">Filtered by: </label>
          <select name="filter" id="filter">
              <option value="date">Date</option>
              <option value="status">Status</option>
          </select>

      </div>
      <div class="FilteredBy">
          <label for="order">Order: </label>
          <select name="order" id="order">
              <option value="asc">Asc.</option>
              <option value="desc">Desc.</option>
          </select>
      </div>
  </div>
    <div class="offers-grid">
      <% offers.forEach(offer => { %>
        <div class="offer-card" id="<%= offer._id %>" >
          <p class="title"><%= offer.title %></p>
          <p class="company"><strong>Company:</strong> <%= offer.company %></p>
          <p class="website"><strong>Website:</strong> <a href="https:<%= offer.website %> "><%= offer.website %></a></p>
          <div class="contact">
            <div class="contact-item">
              <span class="contact-label">Name:</span>
              <span class="contact-value"><%= offer.contact.name %></span>
            </div>
            <div class="contact-item">
              <span class="contact-label">Email:</span>
              <span class="contact-value"><%= offer.contact.email %></span>
            </div>
            <div class="contact-item">
              <span class="contact-label">Phone:</span>
              <span class="contact-value"><%= offer.contact.phone %></span>
            </div>
            <div class="contact-item">
              <span class="contact-label">Address:</span>
              <span class="contact-value"><%= offer.contact.address %></span>
            </div>
            <div class="contact-item">
              <span class="contact-label">Origin:</span>
              <span class="contact-value"><%= offer.origin %></span>
            </div>
            <div class="contact-item">
              <span class="contact-label">Status:</span>
              <span class="contact-value"><%= offer.status %></span>
            </div>
            <div class="contact-item">
              <span class="contact-label">Comments:</span>
              <span class="contact-value"><%= offer.comments %></span>
            </div>
          </div>
          <button><a href="/display_offer?offer_id=<%= offer._id %>">See More</a></button>
         <button class="deletebtn"><a href="/dashboard?offer_id=<%= offer._id %>">DeletFDGDGe</a></button>
        </div>
      <% }) %>
    </div>
  <% } else { %>
    <p>No offers to display...</p>
    <button><a href="/display_offer?offer_id=<%= offer._id %>">See More</a></button>
    <button class="deletebtn"><a href="/dashboard?offer_id=<%= offer._id %>">DeletFDGDGe</a></button>
  <% } %>
</div>

<%- include('partials/footer'); -%>

<script>

// const grid = document(.grid)
// const cards = grid.children
// cards.foreach(card => {
// const id = card.getAttribute(id)
// const btnDelete = document(btn)
// btnDelete.addeventlistener("click", => {
// fetch(method: delete)
// })
// })


const offerCards = document.getElementsByClassName('offer-card');
const deleteBtns = document.getElementsByClassName('deletebtn');

const element = document.getElementById('<%= user._id %>');
    const id = element.id; 
    console.log(id + "coucou")

// Convert HTMLCollections to arrays
const offerCardArray = Array.from(offerCards);
const deleteBtnArray = Array.from(deleteBtns);

offerCardArray.forEach((card, index) => {
  const deleteBtn = deleteBtnArray[index];

  if (deleteBtn) {
    deleteBtn.addEventListener('click', async (e) => {
      e.preventDefault();

      try {
        // Using the ID of the current card
        const cardId = card.id;

        const res = await fetch(`/dashboard/${cardId}`, {
          method: 'DELETE',
        });
        const data = await res.json();
        console.log("data : ", data);

        if (data.errors) {
          console.log(data.errors);
        }
        if (data) {
          location.assign('/dashboard');
        }
      } catch (error) {
        console.log(error);
      }
    });
  }

  console.log(card.id);
});



</script>
