<%- include('partials/header'); -%>

<div class="offres content">
  <% if (offers.length > 0) { %>
    <h1 class="user-name"><%= user.firstname %> <%= user.lastname %></h1>
    <div class="offers-grid">
      <% offers.forEach(offer => { %>
        <div class="offer-card">
          <p class="title"><%= offer.title %></p>
          <p class="company"><strong>Company:</strong> <%= offer.company %></p>
          <p class="website"><strong>Website:</strong> <a href="<%= offer.website %>" target="_blank"><%= offer.website %></a></p>
          <div class="contact">
            <div class="contact-item">
              <span class="contact-label">Name:</span>
              <span class="contact-value"><%= offer.contact.name %></span>
            </div>
            <div class="contact-item">
              <span class="contact-label">Email:</span>
              <span class="contact-value"><%= offer.contact.email %></span>
            </div>
            <div class="contact-item">
              <span class="contact-label">Phone:</span>
              <span class="contact-value"><%= offer.contact.phone %></span>
            </div>
            <div class="contact-item">
              <span class="contact-label">Address:</span>
              <span class="contact-value"><%= offer.contact.address %></span>
            </div>
            <div class="contact-item">
              <span class="contact-label">Origin:</span>
              <span class="contact-value"><%= offer.origin %></span>
            </div>
            <div class="contact-item">
              <span class="contact-label">Status:</span>
              <span class="contact-value"><%= offer.status %></span>
            </div>
            <div class="contact-item">
              <span class="contact-label">Comments:</span>
              <span class="contact-value"><%= offer.comments %></span>
            </div>
          </div>
        </div>
      <% }) %>
    </div>
  <% } else { %>
    <p>No offers to display...</p>
  <% } %>
</div>

<%- include('partials/footer'); -%>
